body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
}

header {
    color: white;
    background-color: black;
    text-align: center;
    padding: 5px;
}

h1 {
    color: #eee;
    font-size: 28px;
    margin-left: 10px;
}

h2 {
    font-size: 24px;
}

a {
    color: #d21034;
}

.container {
    margin-left: 20px;    
}

#main-bio, #contact-info, #bio-image {
    float: left;
}

#bio-image {
    height: 200px;
    width: 200px;
}

#main-bio {
    width: 50%;
    margin-left: 20px;
}

#contact-info {
    line-height: 1.5em;
    margin-left: 20px;
    margin-top: -60px;
}


